USE [ProjectTwo]
GO
/****** Object:  Table [dbo].[log]    Script Date: 2022/10/17 下午 01:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[logId] [nvarchar](200) NOT NULL,
	[userId] [int] NULL,
	[type] [nvarchar](50) NULL,
	[title] [nvarchar](50) NULL,
	[remoteAddr] [nvarchar](50) NULL,
	[requestUri] [nvarchar](1000) NULL,
	[method] [nvarchar](50) NULL,
	[params] [nvarchar](1000) NULL,
	[exception] [nvarchar](50) NULL,
	[operateDate] [datetime] NULL,
	[timeout] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'0227a509-377e-4940-969c-23acb6cfcd45', 3, N'info', N'生成訂單', N'0:0:0:0:0:0:0:1', N'/HappyLearning/orderAdd', N'POST', N'', N'無異常!', CAST(N'2022-10-12T16:02:00.130' AS DateTime), N'0:0:1:14')
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'02f3c1b5-0014-435d-ae3c-070f5fe10322', 3, N'info', N'添加商品到購物車', N'0:0:0:0:0:0:0:1', N'/HappyLearning/cartadd/4', N'POST', N'4', N'無異常!', CAST(N'2022-10-15T14:59:20.210' AS DateTime), N'0:0:0:7')
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'03091c59-391b-498b-9f21-c14cac7cbc25', 1, N'info', N'添加商品到購物車', N'0:0:0:0:0:0:0:1', N'/HappyLearning/cartadd/6', N'POST', N'6', N'無異常!', CAST(N'2022-10-16T02:50:28.037' AS DateTime), N'0:0:0:13')
GO
ALTER TABLE [dbo].[log]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[member] ([user_id])
GO
