USE [ProjectTwo]
GO
/****** Object:  Table [dbo].[log]    Script Date: 2022/10/18 下午 12:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[logId] [nvarchar](200) NOT NULL,
	[userId] [int] NULL,
	[type] [nvarchar](50) NULL,
	[title] [nvarchar](50) NULL,
	[remoteAddr] [nvarchar](50) NULL,
	[requestUri] [nvarchar](1000) NULL,
	[method] [nvarchar](50) NULL,
	[params] [nvarchar](1000) NULL,
	[exception] [nvarchar](50) NULL,
	[operateDate] [datetime] NULL,
	[timeout] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_user]    Script Date: 2022/10/18 下午 12:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_user](
	[order_id] [nvarchar](50) NOT NULL,
	[user_id] [int] NULL,
	[date] [datetime] NOT NULL,
	[status] [int] NOT NULL,
	[totoalcount] [int] NULL,
	[discount] [int] NULL,
	[totoalprice] [decimal](11, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 2022/10/18 下午 12:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [nvarchar](50) NULL,
	[item_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[count] [int] NULL,
	[price] [decimal](11, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'0227a509-377e-4940-969c-23acb6cfcd45', 3, N'info', N'生成訂單', N'0:0:0:0:0:0:0:1', N'/HappyLearning/orderAdd', N'POST', N'', N'無異常!', CAST(N'2022-10-12T16:02:00.130' AS DateTime), N'0:0:1:14')
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'02f3c1b5-0014-435d-ae3c-070f5fe10322', 3, N'info', N'添加商品到購物車', N'0:0:0:0:0:0:0:1', N'/HappyLearning/cartadd/4', N'POST', N'4', N'無異常!', CAST(N'2022-10-15T14:59:20.210' AS DateTime), N'0:0:0:7')
INSERT [dbo].[log] ([logId], [userId], [type], [title], [remoteAddr], [requestUri], [method], [params], [exception], [operateDate], [timeout]) VALUES (N'03091c59-391b-498b-9f21-c14cac7cbc25', 1, N'info', N'添加商品到購物車', N'0:0:0:0:0:0:0:1', N'/HappyLearning/cartadd/6', N'POST', N'6', N'無異常!', CAST(N'2022-10-16T02:50:28.037' AS DateTime), N'0:0:0:13')
GO
INSERT [dbo].[Order_user] ([order_id], [user_id], [date], [status], [totoalcount], [discount], [totoalprice]) VALUES (N'16623174251350', 2, CAST(N'2022-09-05T02:50:25.137' AS DateTime), 4, 2, NULL, CAST(5800.00 AS Decimal(11, 2)))
INSERT [dbo].[Order_user] ([order_id], [user_id], [date], [status], [totoalcount], [discount], [totoalprice]) VALUES (N'16623176263410', 1, CAST(N'2022-09-05T02:53:46.340' AS DateTime), 4, 2, NULL, CAST(2800.00 AS Decimal(11, 2)))
INSERT [dbo].[Order_user] ([order_id], [user_id], [date], [status], [totoalcount], [discount], [totoalprice]) VALUES (N'16626539349720', 1, CAST(N'2022-09-09T00:18:54.973' AS DateTime), 4, 1, NULL, CAST(700.00 AS Decimal(11, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([id], [order_id], [item_id], [name], [count], [price]) VALUES (11, N'16623174251350', 3, N'多益高分衝刺班', 1, CAST(2900.00 AS Decimal(11, 2)))
INSERT [dbo].[OrderItem] ([id], [order_id], [item_id], [name], [count], [price]) VALUES (12, N'16623174251350', 3, N'多益高分衝刺班', 1, CAST(2900.00 AS Decimal(11, 2)))
INSERT [dbo].[OrderItem] ([id], [order_id], [item_id], [name], [count], [price]) VALUES (14, N'16623176263410', 2, N'30天變身數學神童', 1, CAST(1400.00 AS Decimal(11, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
ALTER TABLE [dbo].[log]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[member] ([user_id])
GO
ALTER TABLE [dbo].[Order_user]  WITH CHECK ADD FOREIGN KEY([status])
REFERENCES [dbo].[OrderStatus] ([id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order_user] ([order_id])
GO
