USE [ProjectTwo]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 2022/10/17 下午 01:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [nvarchar](20) NULL,
	[discount] [decimal](3, 2) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([id], [number], [discount], [status]) VALUES (1, N'ZdDrdDWN8XbB', CAST(0.95 AS Decimal(3, 2)), 1)
INSERT [dbo].[voucher] ([id], [number], [discount], [status]) VALUES (2, N'sJY7iRujPtv1', CAST(0.65 AS Decimal(3, 2)), 1)
INSERT [dbo].[voucher] ([id], [number], [discount], [status]) VALUES (3, N'L0fNbU4U7eQQ', CAST(0.85 AS Decimal(3, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [number]    Script Date: 2022/10/17 下午 01:37:27 ******/
ALTER TABLE [dbo].[voucher] ADD  CONSTRAINT [number] UNIQUE NONCLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
